@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --text-2xs: 0.625rem;
  --text-2xs--line-height: calc(1 / 0.625);
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.8125rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 0.9375rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  /* Base Colors */
  --color-white: oklch(1 0 0);
  --color-black: oklch(0 0 0);

  /* Focus Ring */
  --ring-width: 1px;
  --ring-offset: 0px;
  --color-ring: oklch(48.82% 0.19003 271.683);

  /* Background Colors */
  --color-background: oklch(100% 0.00011 271.152);
  --color-background-secondary: oklch(96.5% 0.00011 271.152);
  --color-background-tertiary: oklch(95% 0.00011 271.152);
  --color-background-quaternary: oklch(88% 0.00011 271.152);

  /* Foreground / Text Colors */
  --color-foreground: oklch(11.492% 0.00001 271.152);
  --color-foreground-secondary: oklch(0.25 0 0);
  --color-foreground-tertiary: oklch(0.45 0 0);
  --color-foreground-quaternary: oklch(0.65 0 0);

  /* Border Colors */
  --color-border: oklch(0.96 0 0);
  --color-border-secondary: oklch(0.92 0 0);
  --color-border-tertiary: oklch(0.83 0 0);

  /* Semantic Colors */
  --color-primary: oklch(58.5% 0.233 277.117);
  --color-primary-light: oklch(60.078% 0.17898 259.568);
  --color-primary-lighter: oklch(64.761% 0.14916 259.668);
  --color-primary-foreground: oklch(1 0 0);
  --color-destructive: oklch(0.553 0.24 24.8);
  --color-destructive-foreground: oklch(1 0 0);

  /* Popover */
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.145 0 0);

  /* Input */
  --color-input: oklch(0.88 0 0);
  --color-placeholder: oklch(0.65 0 0);

  /* Links */
  --color-link: oklch(0.45 0.18 260);

  /* Font */
  --font-base:
    Inter, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Noto Sans JP, sans-serif,
    Segoe UI Emoji, Segoe UI Symbol;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.985 0.002 247);
  --foreground: oklch(0.21 0.034 264.665);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.21 0.034 264.665);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.21 0.034 264.665);
  --primary: oklch(0.585 0.233 277.117);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.552 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.899 0.013 264.536);
  --input: oklch(0.899 0.013 264.536);
  --ring: oklch(0.585 0.233 277.117);
  --chart-1: oklch(0.585 0.233 277.117);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.21 0.034 264.665);
  --sidebar-primary: oklch(0.585 0.233 277.117);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.899 0.013 264.536);
  --sidebar-ring: oklch(0.585 0.233 277.117);
  --bg-image: radial-gradient(oklch(0.899 0.013 264.536) 1px, transparent 0);
}

.dark {
  --background: oklch(0.18 0 0);
  --foreground: oklch(0.985 0.002 247);
  --card: oklch(0.21 0 0);
  --card-foreground: oklch(0.985 0.002 247);
  --popover: oklch(0.21 0.024 264.665);
  --popover-foreground: oklch(0.985 0.002 247);
  --primary: oklch(66.959% 0.17679 276.956);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.274 0.024 264.536);
  --secondary-foreground: oklch(0.985 0.002 247);
  --muted: oklch(0.21 0 0);
  --muted-foreground: oklch(0.706 0.022 264.436);
  --accent: oklch(0.274 0.024 264.536);
  --accent-foreground: oklch(0.985 0.002 247);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.585 0.233 277.117);
  --chart-1: oklch(0.585 0.233 277.117);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.024 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247);
  --sidebar-primary: oklch(0.585 0.233 277.117);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.024 264.536);
  --sidebar-accent-foreground: oklch(0.985 0.002 247);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.585 0.233 277.117);
  --bg-image: radial-gradient(oklch(1 0 0 / 5%) 1px, transparent 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply text-foreground bg-background text-base;
    background-image: var(--bg-image);
    background-attachment: fixed;
    background-size: 20px 20px;
  }
}
